/* Estilos para el contenedor principal */
.container_app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinear hacia arriba */
    min-height: 100vh; /* Mínimo 100% del viewport height */
    padding: 20px;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Estilos para la tarjeta */
.card {
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
}

.card-body {
    padding: 20px;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; /* Añadir margen superior para separación */
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ccc;
}

.table th {
    background-color: #007bff;
    color: #ffffff;
}

.table th:first-child,
.table td:first-child {
    border-left: none;
}

.table th:last-child,
.table td:last-child {
    border-right: none;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}


/* Estilos para el formulario */
.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    font-size: 0.8rem;
}